html,body{
    margin:0px;
    min-width: 1000px;
    min-height: 850px;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

header{
    height: auto;
    padding: 20px;
    font-size: 13px;
}
header>nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    gap: 25px;
}
main{
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#imgLogoOne{
    margin-left: 15px; 
}
#logoOne{
    width: 34px;
    height: 34px;
    border-radius: 20px;
    margin-top: -7px;
    margin-left: -53px;
}
#logoOne:hover{
    background-color: rgb(240,240,240,0.6);
}
#logoTwo{
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 15px;
}
#logoTwo:hover{
    margin-top: -10px;
    margin-left: -10px;
    box-shadow:  0px 0px 2px gray;
}
header>nav>a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
input{
    width: 80%;
    height: 30px;
    border:none;
    outline: none;
    margin-top: -5px;
}
button{
    text-decoration: none;
    border: none;
    background-color: white;
    padding: 10px 10px;
    color: #202124;
}

#google{
    width: 272px;
    height: 92px;
}
#lupa{
    width: 20px;
    height: 20px;
}
#teclado,#mic{
    width: 24px;
    height: 24px;
}
#divPesquisa{
    width: 600px;
    height: 35px;
    border-radius: 20px;
    outline: none;
    border: 1px solid rgb(223,225,229);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px 10px 0px 10px;
}

#divPesquisa:hover{
    box-shadow: 0px 1px 3px rgb(192, 185, 185);
}
#divButtons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
button{
    background-color: rgb(248,249,250);
    padding: 10px 16px;
}

button:hover{
    cursor: pointer;
    outline: 1px solid rgb(223,225,229);
}
footer{
    height: auto;
    background-color: rgb(242,242,242) ;
}
footer>#footerTop{
    padding: 10px 0px 5px 10px;
    color: #70757A;
}
#footerCenter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footerCenter>div{
    padding-top: 10px;
}

#footerCenter>div>a{
    color: #70757A;
    text-decoration: none;
}
#footerCenter>div>a:hover{
    text-decoration: underline;
}

#footerDown{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    padding-bottom: 10px;
}
#folha{
    width: 15px;
    height: 15px;
}
footer>div>a{
    text-decoration: none;
    color: #70757A;
}

#privacidade{
    margin-left: 100px;
}
